@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Test Only For Rendering View Page Only!!!!
        @Html.TextBox("txt1")
    </div>
</body>
</html>
