@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
@*<my-appNew>Loading AppComponent!!!!!!!!!!!!!!!!!!!!!!!!!</my-appNew>*@
<my-app>Loading AppComponent!!!!!!!!!!!!!!!!!!!!!!!!!</my-app>

